 .u-section-1 {
  min-height: 1234px;
}

.u-section-1 .u-image-1 {
  height: 996px;
  margin-top: 1px;
  margin-bottom: 0;
  filter: brightness(0.8);
}

.u-section-1 .u-icon-1 {
  width: 270px;
  height: 270px;
  margin: -802px auto 0 calc(((100% - 1140px) / 2) + 419px);
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  font-weight: 700;
  width: 424px;
  margin: -157px auto 0;
}

.u-section-1 .u-list-1 {
  width: 850px;
  margin: 344px auto 0 calc(((100% - 1140px) / 2) + 144px);
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
  grid-gap: 20px 20px;
  min-height: 503px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 55px 0 30px;
}

.u-section-1 .u-icon-2 {
  height: 106px;
  width: 106px;
  margin: 80px 100px 0 64px;
  padding: 0;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.5rem;
  margin: 81px 11px 0 30px;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 55px 0 30px;
}

.u-section-1 .u-icon-3 {
  height: 106px;
  width: 106px;
  margin: 80px 100px 0 64px;
  padding: 0;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.5rem;
  margin: 81px 11px 0 30px;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 55px 0 30px;
}

.u-section-1 .u-icon-4 {
  height: 106px;
  width: 106px;
  color: rgb(255, 255, 255) !important;
  margin: 80px 100px 0 64px;
  padding: 0;
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.5rem;
  margin: 81px 11px 0 30px;
}

.u-section-1 .u-text-5 {
  font-size: 3.75rem;
  font-weight: normal;
  margin: -681px calc(((100% - 1140px) / 2) + 358px) 60px calc(((100% - 1140px) / 2) + 327px);
}

@media (max-width: 1199px) {
  .u-section-1 .u-icon-1 {
    margin-top: -810px;
    margin-left: calc(((100% - 940px) / 2) + 345px);
  }

  .u-section-1 .u-list-1 {
    margin-left: calc(((100% - 940px) / 2) + 90px);
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(25% - 15px) calc(25% - 15px) calc(25% - 15px) calc(25% - 15px);
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    width: 176px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.125rem;
    width: 176px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.125rem;
    width: 176px;
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 940px) / 2) + 258px);
    margin-left: calc(((100% - 940px) / 2) + 227px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-icon-1 {
    margin-left: calc(((100% - 720px) / 2) + 264px);
  }

  .u-section-1 .u-list-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    min-height: 1324px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 720px) / 2) + 148px);
    margin-left: calc(((100% - 720px) / 2) + 117px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-icon-1 {
    margin-left: calc(((100% - 540px) / 2) + 198px);
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.875rem;
    margin-right: calc(((100% - 540px) / 2) + 58px);
    margin-left: calc(((100% - 540px) / 2) + 27px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    object-position: 32.09% 50%;
  }

  .u-section-1 .u-icon-1 {
    margin-left: calc(((100% - 340px) / 2) + 125px);
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }
}.u-section-2 .u-sheet-1 {
  min-height: 80px;
}.u-section-3 .u-sheet-1 {
  min-height: 1196px;
}

.u-section-3 .u-icon-1 {
  width: 700px;
  height: 700px;
  margin: 0 auto 0 -350px;
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  font-size: 3.75rem;
  margin: -566px 720px 0 17px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 458px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 570px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-3 .u-icon-2 {
  width: 138px;
  height: 138px;
  margin: 23px auto 0 58px;
  padding: 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  font-weight: normal;
  margin: 42px 21px 0;
}

.u-section-3 .u-text-3 {
  font-size: 6rem;
  margin: 58px 43px 0 36px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 570px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-3 .u-icon-3 {
  width: 175px;
  height: 175px;
  margin: -3px auto 0;
  padding: 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.875rem;
  width: 155px;
  margin: 27px auto 0;
}

.u-section-3 .u-text-5 {
  font-size: 6rem;
  margin: 94px 17px 0 43px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 570px;
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-3 .u-icon-4 {
  width: 138px;
  height: 138px;
  margin: 28px auto 0;
  padding: 0;
}

.u-section-3 .u-text-6 {
  font-size: 1.875rem;
  margin: 36px 0 0 18px;
}

.u-section-3 .u-text-7 {
  font-size: 6rem;
  margin: 58px 17px 0 43px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 570px;
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-3 .u-icon-5 {
  width: 127px;
  height: 127px;
  margin: 28px 58px 0 auto;
  padding: 0;
}

.u-section-3 .u-text-8 {
  font-size: 1.875rem;
  margin: 47px -39px 0 17px;
}

.u-section-3 .u-text-9 {
  font-size: 6rem;
  margin: 58px 0 0 43px;
}

.u-section-3 .u-icon-6 {
  width: 285px;
  height: 285px;
  margin: -1182px 220px 0 auto;
  padding: 0;
}

.u-section-3 .u-text-10 {
  font-weight: 400;
  font-size: 5rem;
  margin: -195px 293px 0 auto;
}

.u-section-3 .u-text-11 {
  font-weight: 400;
  margin: 143px 286px 60px 700px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1100px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 537px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 393px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 470px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    font-size: 3.75rem;
    margin-right: 18px;
    margin-left: 11px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 470px;
  }

  .u-section-3 .u-text-5 {
    font-size: 3.75rem;
    width: 178px;
    margin-left: 10px;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 470px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    font-size: 3.75rem;
    margin-right: 0;
    margin-left: 10px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 470px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-9 {
    font-size: 3.75rem;
    margin-left: 0;
  }

  .u-section-3 .u-icon-6 {
    margin-top: -979px;
  }

  .u-section-3 .u-text-10 {
    margin-top: -186px;
  }

  .u-section-3 .u-text-11 {
    margin-top: 346px;
    margin-right: 186px;
    margin-left: 600px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 750px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 317px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-icon-2 {
    margin-left: 43px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-5 {
    width: 156px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 689px;
  }

  .u-section-3 .u-icon-5 {
    margin-right: 43px;
  }

  .u-section-3 .u-icon-6 {
    margin-top: -1142px;
  }

  .u-section-3 .u-text-10 {
    margin-right: 224px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 76px;
    margin-left: 490px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 950px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 137px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 337px;
  }

  .u-section-3 .u-text-3 {
    font-size: 3rem;
  }

  .u-section-3 .u-text-5 {
    font-size: 3rem;
  }

  .u-section-3 .u-text-7 {
    font-size: 3rem;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 1034px;
  }

  .u-section-3 .u-text-9 {
    font-size: 3rem;
  }

  .u-section-3 .u-icon-6 {
    margin-top: -2859px;
    margin-right: 165px;
  }

  .u-section-3 .u-text-10 {
    font-size: 2.25rem;
    margin-right: 168px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 0;
    margin-left: 386px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-right: 0;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 323px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-5 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-7 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 651px;
  }

  .u-section-3 .u-text-8 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-9 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-icon-6 {
    margin-top: -2383px;
    margin-right: 104px;
  }

  .u-section-3 .u-text-10 {
    font-size: 1.875rem;
    margin-right: 106px;
  }

  .u-section-3 .u-text-11 {
    margin-left: 186px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 123px;
}.u-section-5 .u-sheet-1 {
  min-height: 1162px;
}

.u-section-5 .u-icon-1 {
  width: 700px;
  height: 700px;
  margin: 0 -276px 0 auto;
  padding: 0;
}

.u-section-5 .u-text-1 {
  font-weight: 400;
  font-size: 3.75rem;
  margin: -593px 84px 0 653px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 970px;
  margin: 394px auto 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 631px;
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-5 .u-icon-2 {
  width: 147px;
  height: 147px;
  margin: 9px auto 0;
  padding: 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.875rem;
  font-weight: normal;
  margin: 46px 21px 0;
}

.u-section-5 .u-text-3 {
  font-size: 6rem;
  margin: 52px 46px 0 33px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 631px;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-5 .u-icon-3 {
  width: 154px;
  height: 154px;
  margin: 6px auto 0;
  padding: 0;
}

.u-section-5 .u-text-4 {
  font-size: 1.875rem;
  margin: 42px 76px 0 46px;
}

.u-section-5 .u-text-5 {
  font-size: 6rem;
  margin: 63px 26px 0 57px;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 631px;
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-5 .u-icon-4 {
  width: 147px;
  height: 147px;
  margin: 9px auto 0;
  padding: 0;
}

.u-section-5 .u-text-6 {
  font-size: 1.875rem;
  margin: 44px 30px 0;
}

.u-section-5 .u-text-7 {
  font-size: 6rem;
  margin: 90px 30px 0 53px;
}

.u-section-5 .u-icon-5 {
  width: 285px;
  height: 285px;
  margin: -1081px auto 0 125px;
  padding: 0;
}

.u-section-5 .u-text-8 {
  font-weight: 400;
  font-size: 5rem;
  margin: -187px auto 0 187px;
}

.u-section-5 .u-text-9 {
  font-weight: 400;
  margin: 126px 795px 60px 191px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1066px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
    margin-left: 537px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 611px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-5 .u-text-3 {
    font-size: 3.75rem;
    margin-right: 40px;
    margin-left: 27px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 611px;
  }

  .u-section-5 .u-text-4 {
    width: 155px;
    margin-left: 41px;
    margin-right: 71px;
  }

  .u-section-5 .u-text-5 {
    font-size: 3.75rem;
    margin-right: 31px;
    margin-left: 40px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 611px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 25px;
    margin-left: 6px;
  }

  .u-section-5 .u-text-7 {
    font-size: 3.75rem;
    margin-right: 20px;
    margin-left: 51px;
  }

  .u-section-5 .u-text-9 {
    margin-right: 695px;
    margin-left: 91px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 715px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 317px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-right: 12px;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 4px;
    margin-right: 34px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 4px;
    margin-left: 13px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-7 {
    margin-right: 0;
    margin-left: 16px;
  }

  .u-section-5 .u-text-9 {
    margin-right: 566px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 916px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 137px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-text-3 {
    font-size: 3rem;
  }

  .u-section-5 .u-text-5 {
    font-size: 3rem;
  }

  .u-section-5 .u-text-7 {
    font-size: 3rem;
  }

  .u-section-5 .u-text-8 {
    font-size: 2.25rem;
    margin-left: 140px;
  }

  .u-section-5 .u-text-9 {
    margin-right: 386px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 0;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-3 {
    font-size: 2.25rem;
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-5 {
    font-size: 2.25rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-7 {
    font-size: 2.25rem;
    margin-left: 0;
  }

  .u-section-5 .u-icon-5 {
    margin-left: 79px;
  }

  .u-section-5 .u-text-8 {
    font-size: 1.875rem;
    margin-left: 88px;
  }

  .u-section-5 .u-text-9 {
    margin-right: 186px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 118px;
}.u-section-7 .u-sheet-1 {
  min-height: 1196px;
}

.u-section-7 .u-icon-1 {
  width: 700px;
  height: 700px;
  margin: 0 auto 0 -316px;
  padding: 0;
}

.u-section-7 .u-text-1 {
  font-weight: 400;
  font-size: 3.75rem;
  margin: -529px 646px 0 0;
}

.u-section-7 .u-layout-wrap-1 {
  width: 665px;
  margin: 371px auto 0 95px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 620px;
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-7 .u-icon-2 {
  width: 133px;
  height: 133px;
  margin: 16px auto 0 63px;
  padding: 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.875rem;
  margin: 53px 48px 0 63px;
}

.u-section-7 .u-text-3 {
  font-size: 6rem;
  width: 213px;
  margin: 36px auto 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 620px;
  background-image: none;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-7 .u-icon-3 {
  width: 147px;
  height: 147px;
  margin: 9px auto 0;
  padding: 0;
}

.u-section-7 .u-text-4 {
  font-size: 1.875rem;
  margin: 46px 18px 0 63px;
}

.u-section-7 .u-text-5 {
  font-size: 6rem;
  margin: 36px 20px 0 63px;
}

.u-section-7 .u-icon-4 {
  width: 285px;
  height: 285px;
  margin: -1133px 180px 0 auto;
  padding: 0;
}

.u-section-7 .u-text-6 {
  font-weight: 400;
  font-size: 5rem;
  margin: -177px 239px 0 auto;
}

.u-section-7 .u-text-7 {
  font-weight: 400;
  margin: 126px 213px 60px 747px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1100px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 446px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 393px;
  }

  .u-section-7 .u-text-2 {
    width: 155px;
  }

  .u-section-7 .u-text-3 {
    font-size: 3.75rem;
    width: 178px;
    margin-left: 42px;
    margin-right: 39px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 17px;
    margin-left: 15px;
  }

  .u-section-7 .u-text-5 {
    font-size: 3.75rem;
    margin-right: 39px;
    margin-left: 42px;
  }

  .u-section-7 .u-icon-4 {
    margin-top: -979px;
  }

  .u-section-7 .u-text-6 {
    margin-top: -186px;
  }

  .u-section-7 .u-text-7 {
    margin-right: 139px;
    margin-left: 647px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 750px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 226px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-left: 55px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-text-3 {
    width: 156px;
    margin-left: 15px;
    margin-right: 12px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 18px;
    margin-left: 5px;
  }

  .u-section-7 .u-text-5 {
    margin-right: 12px;
    margin-left: 15px;
  }

  .u-section-7 .u-icon-4 {
    margin-top: -1142px;
  }

  .u-section-7 .u-text-7 {
    margin-right: 29px;
    margin-left: 537px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 950px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 46px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 337px;
    margin-left: 0;
  }

  .u-section-7 .u-text-3 {
    font-size: 3rem;
  }

  .u-section-7 .u-text-5 {
    font-size: 3rem;
  }

  .u-section-7 .u-icon-4 {
    margin-top: -2859px;
  }

  .u-section-7 .u-text-6 {
    font-size: 2.25rem;
    margin-right: 179px;
  }

  .u-section-7 .u-text-7 {
    margin-right: 0;
    margin-left: 386px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
    margin-right: 0;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 323px;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-7 .u-text-3 {
    font-size: 2.25rem;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-4 {
    font-size: 1.5rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-text-5 {
    font-size: 2.25rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-icon-4 {
    margin-top: -2383px;
    margin-right: 113px;
  }

  .u-section-7 .u-text-6 {
    font-size: 1.875rem;
    margin-right: 113px;
  }

  .u-section-7 .u-text-7 {
    margin-left: 186px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 130px;
}